/**
 * VIEWS
 * Name : Reference
 ************************************************************ */


.v-reference {
  position: relative;
}


  /**
   * Container
   ****************************** */

  .v-reference__container {
    display: flex;
    flex-wrap: nowrap;

    @include mq($until: large) {
      flex-direction: column;
    }

    @include mq($from: large) {
      flex-direction: row;
      align-items: flex-start;
    }

    @include mq($from: large, $until: xlarge) {
      @include rem(margin-right, -$gutter-size*1.5);
      @include rem(margin-left, -$gutter-size*1.5);
    }

    @include mq($from: xlarge) {
      @include rem(margin-right, -$gutter-size*2.5);
      @include rem(margin-left, -$gutter-size*2.5);
    }
  }


    /**
     * Main
     ****************************** */

    .v-reference__main {

      @include mq($until: large) {
        order: 2;
        @include rem(margin-top, $gutter-size*3);
      }

      @include mq($from: large) {
        flex: 1 1 auto;
      }

      @include mq($from: large, $until: xlarge) {
        @include rem(padding-right, $gutter-size*1.5);
        @include rem(padding-left, $gutter-size*1.5);
      }

      @include mq($from: xlarge) {
        @include rem(padding-right, $gutter-size*2.5);
        @include rem(padding-left, $gutter-size*2.5);
      }
    }

      .v-reference__picture {
        display: block;

        &:not(:first-child) {
          @include rem(margin-top, $gutter-size*2);
        }
      }

      .v-reference__medium {
        position: relative;

        &:not(:first-child) {
          @include rem(margin-top, $gutter-size*2);
        }
      }

        .v-reference__veil {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba($color-black, 0.3);
          transition: background-color 0.3s ease;
          cursor: pointer;
          z-index: 1;

          &:hover {
            background-color: rgba($color-black, 0.6);
          }
        }

          .v-reference__icon {
            position: absolute;
            @include rem(width, 50px);
            @include rem(height, 50px);
            top: 50%;
            left: 50%;
            background-color: $color-primary;
            @include rem(border-radius, 25px);
            transform: translate3d(-50%, -50%, 0);

            &:after {
              content: '';
              position: absolute;
              display: block;
              width: 0;
              height: 0;
              top: 19px;
              left: 20px;
              border-style: solid;
              border-width: 6px 0 6px 10px;
              border-color: transparent transparent transparent $color-white;
            }
          }


    /**
     * Aside
     ****************************** */

    .v-reference__aside {

      @include mq($until: large) {
        order: 1;
      }

      @include mq($from: large) {
        flex: 0 0 auto;
        @include rem(width, 520px);
      }

      @include mq($from: large, $until: xlarge) {
        @include rem(padding-right, $gutter-size*1.5);
        @include rem(padding-left, $gutter-size*1.5);
      }

      @include mq($from: xlarge) {
        @include rem(padding-right, $gutter-size*2.5);
        @include rem(padding-left, $gutter-size*2.5);
      }
    }

      .v-reference__thumbnail {

        @include mq($until: large) {

          &:not(:first-child) {
            @include rem(margin-top, $gutter-size*2);
          }
        }

        @include mq($from: large) {
          display: none;
        }
      }

      .v-reference__content {

        @include mq($until: large) {

          &:not(:first-child) {
            @include rem(margin-top, $gutter-size*2);
          }
        }
      }

      .v-reference__infos {

        @include mq($until: large) {

          &:not(:first-child) {
            @include rem(margin-top, $gutter-size*2);
          }
        }

        @include mq($from: large) {

          &:not(:first-child) {
            @include rem(margin-top, $gutter-size*1.5);
          }
        }
      }

        .v-reference__info {

          &:not(:first-child) {
            @include rem(margin-top, $gutter-size);
          }
        }

          .v-reference__label {
            font-family: $font-secondary;
            @include font-size(18px, 26px);
            @include rem(letter-spacing, 1px);
            text-transform: uppercase;

            &:before {
              content: '› ';
            }
          }

          .v-reference__value {}

            .v-reference__link {

              &:hover {
                text-decoration: underline;
              }
            }

      .v-reference__logo {

        @include mq($until: large) {
          display: block;
          margin-right: auto;
          margin-left: auto;

          &:not(:first-child) {
            @include rem(margin-top, $gutter-size*2);
          }
        }

        @include mq($from: large) {

          &:not(:first-child) {
            @include rem(margin-top, $gutter-size*2);
          }
        }
      }
