/**
 * COMPONENTS
 * Name : Card
 ************************************************************ */


.c-card {
  position: relative;
}


/**
 * Types
 ****************************** */

.c-card--alt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  @include rem(padding, $gutter-size*1.5);
  background-color: $color-light-grey;
  @include rem(border-radius, 80px);
}


  /**
   * Head
   ****************************** */

  .c-card__head {

    .c-card--alt & {
      flex: 0 0 auto;
    }
  }

    .c-card__picture {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }


  /**
   * Body
   ****************************** */

  .c-card__body {
    text-align: center;

    &:not(:first-child) {
      @include rem(margin-top, $gutter-size*1.5);
    }

    .c-card--alt & {
      flex: 1 1 auto;
      text-align: left;

      &:not(:first-child) {
        margin-top: 0;
        @include rem(margin-left, $gutter-size*3);
      }
    }
  }

    .c-card__title {}

    .c-card__description {

      &:not(:first-child) {
        @include rem(margin-top, $gutter-size*0.75);
      }
    }

    .c-card__more {

      &:not(:first-child) {
        @include rem(margin-top, $gutter-size*0.75);
      }
    }

      .c-card__button {}
