/**
 * COMPONENTS
 * Name : Heading
 ************************************************************ */


.c-heading {
  position: relative;
  text-align: center;
}


/**
 * Types
 ****************************** */

.c-heading--left {
  text-align: left;

  @include mq($until: large) {

    .l-footer & {
      text-align: center;
    }
  }
}


  /**
   * Label
   ****************************** */

  .c-heading__label {
    font-family: $font-secondary;
    text-transform: uppercase;

    @include mq($until: small) {
      @include font-size(12px, 20px);
      @include rem(letter-spacing, 1.5px);
    }

    @include mq($from: small) {
      @include font-size(14px, 20px);
      @include rem(letter-spacing, 2px);
    }
  }


  /**
   * Title
   ****************************** */

  .c-heading__title {
    @include rem(max-width, 480px);
    margin-right: auto;
    margin-left: auto;

    .c-heading--left & {
      margin-left: 0;
      margin-right: auto;

      @include mq($until: large) {

        .l-footer & {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    @include mq($until: small) {
      @include font-size(26px, 32px);
    }

    @include mq($from: small, $until: medium) {
      @include font-size(28px, 36px);
    }

    @include mq($from: medium, $until: large) {
      @include font-size(32px, 42px);
    }

    @include mq($from: large) {
      @include font-size(34px, 46px);
    }

    strong {

      .l-footer__main & {
        color: $color-background;
      }
    }
  }


  /**
   * Description
   ****************************** */

  .c-heading__description {

    &:not(:first-child) {
      @include rem(margin-top, $gutter-size);
    }
  }
