/**
 * COMPONENTS
 * Name : Portraits
 ************************************************************ */


.c-portraits {
  position: relative;
}


  /**
   * Items
   ****************************** */

  .c-portraits__items {}


    /**
     * Item
     ****************************** */

    .c-portraits__item {

      &:nth-child(odd) {
        background-color: $color-light-grey;
      }

      @include mq($until: small) {
        @include rem(padding-top, $gutter-size);
        @include rem(padding-bottom, $gutter-size*2);
      }

      @include mq($from: small, $until: medium) {
        @include rem(padding-top, $gutter-size*2);
        @include rem(padding-bottom, $gutter-size*2);
      }

      @include mq($from: medium, $until: large) {
        @include rem(padding-top, $gutter-size*3);
        @include rem(padding-bottom, $gutter-size*3);
      }

      @include mq($from: large) {
        @include rem(padding-top, $gutter-size*4);
        @include rem(padding-bottom, $gutter-size*4);
      }
    }


      /**
       * Container
       ****************************** */

      .c-portraits__container {

        @include mq($from: medium) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: flex-start;
        }

        @include mq($from: medium, $until: large) {
          @include rem(margin-right, -$gutter-size*1.5);
          @include rem(margin-left, -$gutter-size*1.5);
        }

        @include mq($from: large) {
          @include rem(margin-right, -$gutter-size*2);
          @include rem(margin-left, -$gutter-size*2);
        }
      }


        /**
         * Aside
         ****************************** */

        .c-portraits__aside {

          @include mq($from: small, $until: medium) {
            float: left;
            @include rem(width, 140px);
            @include rem(margin-right, $gutter-size*2);
            @include rem(margin-bottom, $gutter-size);
          }

          @include mq($from: medium) {
            flex: 0 0 auto;

            .c-portraits__item:nth-child(odd) & {
              order: 2;
            }

            .c-portraits__item:nth-child(even) & {
              order: 1;
            }
          }

          @include mq($from: medium, $until: large) {
            @include rem(width, 300px);
            @include rem(padding-right, $gutter-size*1.5);
            @include rem(padding-left, $gutter-size*1.5);
          }

          @include mq($from: large) {
            @include rem(width, 420px);
            @include rem(padding-right, $gutter-size*2);
            @include rem(padding-left, $gutter-size*2);
          }
        }

          .c-portraits__picture {
            display: block;
          }

          .c-portraits__links {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            @include rem(margin-right, -$gutter-size/2);
            @include rem(margin-left, -$gutter-size/2);
            line-height: 0;

            &:not(:first-child) {
              @include rem(margin-top, $gutter-size/2);
            }
          }

            .c-portraits__link {
              @include rem(padding, $gutter-size/4 $gutter-size/2);
              transition: color 0.2s ease;

              &:hover {
                color: $color-primary;
              }
            }


        /**
         * Main
         ****************************** */

        .c-portraits__main {

          @include mq($until: small) {

            &:not(:first-child) {
              @include rem(margin-top, $gutter-size*1.5);
            }
          }

          @include mq($from: medium) {
            flex: 1 1 auto;

            .c-portraits__item:nth-child(odd) & {
              order: 1;
            }

            .c-portraits__item:nth-child(even) & {
              order: 2;
            }
          }

          @include mq($from: medium, $until: large) {
            @include rem(padding-right, $gutter-size*1.5);
            @include rem(padding-left, $gutter-size*1.5);
          }

          @include mq($from: large) {
            @include rem(padding-right, $gutter-size*2);
            @include rem(padding-left, $gutter-size*2);
          }
        }

          .c-portraits__title {}

          .c-portraits__subtitle {}

          .c-portraits__description {

            &:not(:first-child) {
              @include rem(margin-top, $gutter-size);
            }
          }
