/**
 * COMPONENTS
 * Name : Steps
 ************************************************************ */


.c-steps {
  position: relative;
}


  /**
   * Items
   ****************************** */

  .c-steps__items {}


    /**
     * Item
     ****************************** */

    .c-steps__item {

      &:not(:first-child) {
        @include rem(margin-top, $gutter-size*2);
      }

      @include mq($from: small, $until: medium) {
        @include rem(padding-right, $gutter-size*2);
        @include rem(padding-left, $gutter-size*2);
      }

      @include mq($from: medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
      }
    }


      /**
       * Aside
       ****************************** */

      .c-steps__aside {
        position: relative;

        @include mq($until: medium) {
          text-align: left;
        }

        @include mq($from: medium) {
          flex: 0 0 auto;
          @include rem(width, 200px);
          @include rem(padding-top, $gutter-size/4);
          text-align: center;
        }
      }

        .c-steps__number {
          font-family: $font-secondary;
          font-weight: $font-bold;
          color: $color-primary;
          z-index: 1;

          @include mq($until: small) {
            @include font-size(32px, 32px);
          }

          @include mq($from: small, $until: medium) {
            @include font-size(38px, 38px);
          }

          @include mq($from: medium, $until: large) {
            @include font-size(32px, 32px);
          }

          @include mq($from: large) {
            @include font-size(38px, 38px);
          }
        }

        .c-steps__title {
          position: relative;
          z-index: 2;

          @include mq($until: small) {
            @include font-size(32px, 32px);
          }

          @include mq($from: small, $until: medium) {
            @include font-size(38px, 38px);
          }

          @include mq($from: medium, $until: large) {
            @include font-size(32px, 32px);
          }

          @include mq($from: large) {
            @include font-size(38px, 38px);
          }
        }


      /**
       * Main
       ****************************** */

      .c-steps__main {

        &:not(:first-child) {

          @include mq($from: medium, $until: large) {
            @include rem(margin-left, $gutter-size*2);
          }

          @include mq($from: large) {
            @include rem(margin-left, $gutter-size*4);
          }
        }
      }

        .c-steps__description {}
