/**
 * COMPONENTS
 * Name : Subtitle
 ************************************************************ */


.c-subtitle {
  font-family: $font-secondary;
  @include font-size(18px, 26px);
  font-weight: $font-bold;
  @include rem(letter-spacing, 1.45px);
  text-transform: uppercase;
}
