/**
 * LAYOUTS
 * Name : Grid
 ************************************************************ */


.l-grid {
  position: relative;
}


  /**
   * Items
   ****************************** */

  .l-grid__items {

    @include mq($from: medium) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @include rem(margin-top, -$gutter-size);
    }

    @include mq($from: medium, $until: large) {
      @include rem(margin-right, -$gutter-size*2);
      @include rem(margin-left, -$gutter-size*2);
    }

    @include mq($from: large) {
      @include rem(margin-right, -$gutter-size*3);
      @include rem(margin-left, -$gutter-size*3);
    }
  }


    /**
     * Item
     ****************************** */

    .l-grid__item {

      @include mq($until: medium) {

        &:not(:first-child) {
          @include rem(margin-top, $gutter-size*2);
        }
      }

      @include mq($from: medium) {
        flex: 0 0 auto;
        width: 50%;
      }

      @include mq($from: medium, $until: large) {
        @include rem(padding, $gutter-size $gutter-size*2);
      }

      @include mq($from: large) {
        @include rem(padding, $gutter-size $gutter-size*3);
      }
    }


      /**
       * Item
       ****************************** */

      .l-grid__picture {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
