/**
 * LAYOUTS
 * Name : Main
 ************************************************************ */


.l-main {
  position: relative;
}


  /**
   * Head
   ****************************** */

  .l-main__head {
    position: relative;
    z-index: 1;
  }


  /**
   * Body
   ****************************** */

  .l-main__body {

    &:not(:first-child) {

      @include mq($until: small) {
        @include rem(margin-top, $gutter-size*2);
      }

      @include mq($from: small, $until: medium) {
        @include rem(margin-top, $gutter-size*1.5);
      }

      @include mq($from: medium) {
        @include rem(margin-top, $gutter-size);
      }
    }
  }

    .l-main__section {
      position: relative;

      &:before {
        content: '';
        position: relative;
        display: block;
        @include rem(width, 1px);
        @include rem(height, $gutter-size*4.5);
        @include rem(margin-top, -$gutter-size*4.5);
        pointer-events: none;
        z-index: -1;
      }

      &:not(:first-child) {
        @include rem(margin-top, $gutter-size*4.5);
      }
    }


  /**
   * Foot
   ****************************** */

  .l-main__foot {}
